.idea
.idea/.name
.idea/compiler.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
*/target/*
*.iml
.idea/workspace.xml
.gradle
gameInterfaceCron/.gradle/6.1/gc.properties
gameInterfaceCron/.gradle/6.1/fileChanges/last-build.bin
gameInterfaceCron/.gradle/6.1/fileHashes/fileHashes.lock
gameInterfaceCron/.gradle/buildOutputCleanup/buildOutputCleanup.lock
gameInterfaceCron/.gradle/buildOutputCleanup/cache.properties
gameInterfaceCron/.gradle/checksums/checksums.lock
gameInterfaceCron/.gradle/vcs-1/gc.properties

*.class
build/

